name: Rust

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

env:
  CARGO_TERM_COLOR: always
  RUST_VERSION_STABLE: 1.78.0
  MSRV: 1.75.0

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository code
        uses: actions/checkout@v4
      - name: Install Nix and build shell
        run: |
          curl -L https://nixos.org/nix/install | sh
          . $HOME/.nix-profile/etc/profile.d/nix.sh
          nix-shell --run "echo 'Installation completed'"
      - name: Run tests
        run: |
          . $HOME/.nix-profile/etc/profile.d/nix.sh
          nix-shell --run "cargo test --all-features"

  fmt:
    name: Rustfmt
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install the Rust toolchain
        uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          toolchain: ${{ env.RUST_VERSION_STABLE }}
          components: rustfmt
      - name: Enforce formatting
        run: cargo fmt --check

  clippy:
    name: Clippy
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install the Rust toolchain
        uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          toolchain: ${{ env.RUST_VERSION_STABLE }}
          components: clippy
      - name: Linting
        run: cargo clippy --all-targets --all-features -- -D warnings

  docs:
    name: Docs
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install the Rust toolchain
        uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          toolchain: ${{ env.RUST_VERSION_STABLE }}
      - name: Test documentation build (all features)
        run: RUSTDOCFLAGS="-D warnings" cargo doc --all-features
      - name: Test documentation build (json feature)
        run: RUSTDOCFLAGS="-D warnings" cargo doc --features json
      - name: Test documentation build (message-pack feature)
        run: RUSTDOCFLAGS="-D warnings" cargo doc --features message-pack
  
  coverage:
    name: Code coverage
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install Nix and build shell
        run: |
          curl -L https://nixos.org/nix/install | sh
          . $HOME/.nix-profile/etc/profile.d/nix.sh
          nix-shell --run "echo 'Installation completed'"
      - name: Generate code coverage
        run: |
          . $HOME/.nix-profile/etc/profile.d/nix.sh
          nix-shell --run "cargo llvm-cov --all-features --workspace --lcov --output-path lcov.info"
      - name: Generate report
        run: |
          . $HOME/.nix-profile/etc/profile.d/nix.sh
          nix-shell --run "cargo llvm-cov report --html --output-dir coverage"
      - uses: actions/upload-artifact@v4
        with:
          name: "Coverage report"
          path: coverage/
  
  check-msrv:
    name: Check (MSRV) 
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install the Rust toolchain
        uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          toolchain: ${{ env.MSRV }}
      - name: Linting
        run: cargo check --all-targets --all-features --locked